.link {
  display: inline-flex;
  align-items: center;
  border: none;
  background: none;
  padding: 0;
  font-family: var(--eds-family-sans);
  font-weight: var(--eds-body-small-strong-weight);
  text-decoration: none;
  cursor: pointer;
  transition: color var(--eds-motion-control-duration) var(--eds-motion-ease-in-out);
}

.link[aria-disabled='true'] {
  cursor: not-allowed;
}

.lg {
  font-size: var(--eds-body-small-strong-size);
  line-height: 1;
}

.md {
  font-size: var(--eds-footnote-large-strong-size);
  line-height: 1;
}

.sm {
  font-size: var(--eds-footnote-medium-strong-size);
  line-height: 1;
}

.brand {
  color: var(--text-brand-primary);
}

.brand:active:not([aria-disabled='true']) {
  color: var(--text-brand-secondary);
}

.brand[aria-disabled='true'] {
  color: var(--text-base-quaternary);
}

.theme {
  color: var(--text-base-primary);
}

.theme:active:not([aria-disabled='true']) {
  color: var(--text-base-secondary);
}

.theme[aria-disabled='true'] {
  color: var(--text-base-quaternary);
}
