.previewLabel {
  margin: 0;
  color: var(--text-base-secondary);
  font-family: var(--eds-family-sans);
  font-size: var(--eds-footnote-large-size);
  font-weight: var(--weight-medium);
  line-height: var(--eds-footnote-large-line-height);
}
